body {
    font-family: 'Poppins', sans-serif;
    /* Apply Poppins font globally */
}

.navbar {
    text-align: center;
    /* Center navbar items */
}

.hover-button {
    padding: 10px 15px;
    /* Padding for space between text and border */
    border: 2px solid darkgray;
    /* Light green border */
    border-radius: 5px;
    background-color: darkgray;
    /* Default background */
    color: black;
    /* Default text color */
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    /* Include transform transition */
    display: inline-block;
    /* Button size based on text */
    text-align: center;
    white-space: nowrap;
    /* Prevent wrapping */
    margin-right: 20px;
    /* Space between buttons */
}

.hover-button:hover {
    background-color: #a9a9a9;
    /* Darker shade of gray on hover */
    color: white;
    /* Text color on hover */
    transform: scale(1.05);
    /* Pop animation on hover */
}

.social-media-buttons {
    display: flex;
    align-items: center;
    /* Center vertically */
}

.social-button img {
    width: 30px;
    /* Size of the minimal logos */
    height: auto;
    /* Maintain aspect ratio */
}

.card {
    margin-bottom: 20px;
    /* Margin for the cards */
}

h2 {
    font-weight: bold;
    /* Bold for headings */
}

footer {
    background-color: darkgray;
    /* Same color as the navbar */
    color: white;
    /* Text color for footer */
}

.account {
    position: relative;
    top: 20px;
}

.profile {
    position: absolute;
    top: 0;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.profile img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.menu {
    position: absolute;
    width: 260px;
    background-color: white;
    top: 100px;
    right: 15px;
    border-radius: 20px;

    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.active {
    visibility: visible;
    opacity: 1;
    top: 75px;
}

.menu::before {
    content: "";
    background-color: white;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -8px;
    right: 35px;
    rotate: 45deg;
}

.menu h3 {
    font-size: 1.4rem;
    text-align: center;
    margin: 18px 0 5px;
}

.menu p {
    font-size: 1rem;
    text-align: center;
    color: #b9b9b9;
    margin-bottom: 20px;
}

.menu ul {
    margin-bottom: 20px;

}

.menu ul li {
    padding: 15px 20px;
    border-top: 1px solid #33333310;
    background: #ffffff;
    transition: 0.5s;
}

.menu ul li:hover {
    background: #e7e7e7;
}

.menu ul li i {
    font-size: 1.3rem;
    color: #b4b4b4;
    transition: 0.5s;
}

.menu ul li:hover i {
    color: #111;
}

.menu ul li a {
    font-size: 1.3rem;
    color: #292929;
    margin-left: 20px;
}

/* .hiden {
    display: none;
} */